.dashboard #logo {
    background-color: #ffffff;

}

.container {
    display: absolute;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

.left-side {
    float: left;
    width: 70%;
    display: flex;
    align-items: center;
    height: 83px;
}

.right-side {
    width: 30%;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 83px;
    justify-content: flex-end;

}

@media screen and (max-width:600px) {
    .left-side {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
        height: 83px;

    }

    .right-side {
        width: 100%;
        align-items: center;
        flex-direction: row;
        display: flex;
        height: 83px;
        justify-content: center;

    }
}

.header-widget {
    text-align: left;
    display: contents;
    align-items: center;
}



.user-menu {
    top: 0px;
    vertical-align: middle;


}


.user-menu .user-name {
    display: flex;
}

.header {
    font-size: 14px;
}

.header-widget .button,
.header-widget .button.border {
    padding: 9px 9px;

}

.mmenu-trigger {
    width: 50px;
    position: absolute;
    right: 0px;
    margin: 0 35px 0 0;
}

@media (max-width: 1024px) {
    .user_not_logged_in .header-widget {
        display: contents;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .transparent-header .main-search-inner {
        text-align: center;
    }
}

@media (max-width: 480px) {

    .user-menu {
        margin: 0px 0 0px 25px;
        top: 5px;
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    .transparent-header .header-widget {
        padding: 15px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;

    }
}

@media screen and (max-width: 600px-1024px) {
    .transparent-header .header-widget {
        padding: 15px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        display: inline-block;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;

    }
}

@media only screen and (max-width: 600px) {


    .dashboard #logo a img {
        top: 0;
        position: relative;
        max-height: 80px;
        height: 80px;
        transform: translate3d(0, 0, 0);
    }
}

.listeo-cart-container {
    margin: 10px 28px 0 0;

}

.dokan-dashboard .dashboard-stat.color-1 {
    background: #B44F40 !important;
}

.dokan-dashboard .dashboard-stat.color-2 {
    background-color: #2C2C3D !important;
}

.dashboard-stat.color-3 {
    background-color: #8FA4B7;
}

.dashboard-stat.color-4 {
    background-color: #DE413A;
}

.dokan-dashboard .dashboard-stat.color-1 {
    background-color: #B44F40 !important;
}

.dokan-dashboard .dashboard-stat.color-2 {
    background-color: #2C2C3d;
}

.dokan-dashboard .dashboard-stat.color-3 {
    background-color: #De413A;
}

.dokan-dashboard .dashboard-stat.color-4 {
    background-color: #8FA4B7;
}

.transparent-header.user_not_logged_in .header-widget .sign-in {
    margin-bottom: 10px;
}

.header-widget .sign-in {
    margin-bottom: 10px;
}

.margin-top-75 {
    position: sticky;
    top: 100px;
}



.dokan-dashboard .dashboard-stat.color-1 {
    background-color: #B44F40 !important;
}




.onsale {
    display: none;
}

.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    width: 100%;

}

body .woocommerce #respond input#submit.alt,
body .woocommerce a.button.alt,
body .woocommerce button.button.alt,
body .woocommerce input.button.alt {
    background-color: #de413a !important;
    font-weight: 500;
}



/*SON DÜZENLEME MENÜ - SELÇUK*/
@media only screen and (min-width: 769px) {
    .mega-menu-wrap {
        background: none !important;
    }

    .mega-menu-wrap:after {
        color: #000 !important;
    }

    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link,
    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-ancestor>a.mega-menu-link,
    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-page-ancestor>a.mega-menu-link {
        background: #de413a;
        border-radius: 30px
    }

    .sticky #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link,
    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-ancestor>a.mega-menu-link,
    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-page-ancestor>a.mega-menu-link {
        background: #efefef !important;
        border-radius: 30px
    }

    #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:hover {

        background: #de413a;
        border-radius: 30px !important;
    }

    .sticky #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:hover {
        background: #efefef !important;
        border-radius: 30px !important;
    }

    .sticky #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
        color: #555 !important;
    }

    .sticky #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-toggle-on>a.mega-menu-link {
        background: #efefef !important
    }
}

/* hero altı banner  */

.elementor-element-15ac1f13 .elementor-widget-container a {
    background-attachment: scroll !important;
}

.sticky #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
    color: #444;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link {
    color: #fff !important;
}

@media only screen and (min-width: 769px) {
    .sticky #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link:hover {
        background: #efefef !important;
    }
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-ancestor>a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-page-ancestor>a.mega-menu-link {
    background: rgb(222, 66, 59) !important;
}

.sticky #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-menu-ancestor>a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-current-page-ancestor>a.mega-menu-link {
    background: rgb(200, 200, 200) !important;
    color: #000;
}

.page-id-634 .gm-navbar:not(.gm-navbar-sticky-toggle) .gm-inner-bg,
.gm-padding {
    opacity: 0;
}

@media (min-width: 1024px) {
    .page-id-634 .gm-main-menu-wrapper #gm-main-menu .gm-navbar-nav>.menu-item>.gm-anchor {
        color: #fff;
    }

    .page-id-634 .gm-navbar-sticky-toggle .gm-anchor {
        color: #000 !important;
    }

    .page-id-634 .current-menu-item .gm-navbar-nav>.menu-item>.gm-anchor {
        color: #fff !important;
    }

    #wrapper {
        margin-top: 99px;
    }

    .page-id-634 #wrapper {
        margin-top: 0px;
    }

    .page-id-634 .gm-main-menu-wrapper .gm-search>i,
    .gm-main-menu-wrapper .gm-search>.gm-search__txt {
        color: #fff;
    }

    .page-id-634 .gm-navbar-sticky-toggle .gm-main-menu-wrapper .gm-search>i,
    .gm-main-menu-wrapper .gm-search>.gm-search__txt {
        color: #5a5a5a;
    }



}

/******/
.main-search-form {
    max-width: 1200px !important;
    margin: auto;


}

.qtyButtons input {
    pointer-events: auto;

}



.qtyTotal {
    background-color: #de413a;
    width: 30px;
}

.elementor *,
.elementor :after,
.elementor :before {
    background-attachment: scroll !important;
}

.widget_products {
    background-color: #D2E5EE;
    padding: 15px;
    border-radius: 15px;
}

.widget h3 {
    color: #2c2c3d;
    font-size: xx-large;
    font-weight: 600;
}

.widget_products .product_list_widget span.product-title {
    color: #2c2c3d;
    font-weight: 600;
}

.widget_products .product_list_widget ins .woocommerce-Price-amount bdi {
    background-color: #ffffff !important;
    text-decoration: none !important;
    color: #de413a;
}

.widget_products .product_list_widget .woocommerce-Price-amount.amount bdi {
    background: #efefef;
    padding: 5px 8px;
    border-radius: 50px;

}

/* dashboard menu üstü wrapper*/
.page-template-template-dashboard #wrapper {
    margin-top: 0px;
}

.gm-navbar *,
.gm-main-menu-wrapper *,
.gm-navigation-drawer * {
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 1023px) {

    .gm-navigation-drawer .gm-search,
    .gm-navigation-drawer .gm-minicart {
        color: #de413a !important;
    }
}

.main-search-inner {
    width: 1200px;
}


/* madra deneme */
#header-container {
    background-color: #000 !important;
}


/* düğün asistanı*/



/*******************/
/**asistan düğün mekanı**/
.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_4 .q-inner .o-btn-action,
.ff_conv_app_4 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_4 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/crop-elegant-newlyweds-near-lake-scaled.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;
}

.ff_conv_app_4 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_4 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_4 .q-inner .o-btn-action,
.ff_conv_app_4 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}

.Y2IQFc {
    color: #2c2c3d !important;


}

.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_4 .f-enter .f-enter-desc {
    display: none !important;
}

@media screen and (max-width: 1023px) {
    .ff_conv_app_frame .vff .footer-inner-wrap .f-nav a.ffc_power {

        display: none !important;
    }
}

/***************/
/**düğün asistanı gelinlik**/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_5 .q-inner .o-btn-action,
.ff_conv_app_5 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_5 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/wepik-2022322-152349-1.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_5 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_5 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_5 .q-inner .o-btn-action,
.ff_conv_app_5 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_5 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/*****************deneme*/
.container {

    width: 100%;
}

/***************************/
/****düğün fotoğrafçısı **/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_6 .q-inner .o-btn-action,
.ff_conv_app_5 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_6 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/wepik-2022327-153727.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_6 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_6 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_6 .q-inner .o-btn-action,
.ff_conv_app_5 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_6 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/****Kuaför ve Güzellik ***/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_7 .q-inner .o-btn-action,
.ff_conv_app_5 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_7 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/wepik-2022320-11635.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_7 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_7 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_7 .q-inner .o-btn-action,
.ff_conv_app_7 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_7 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/****Balayı ve Tatil ****/
/****düğün fotoğrafçısı **/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_6 .q-inner .o-btn-action,
.ff_conv_app_6 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_6 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/wepik-2022327-153727.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_6 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_6 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_6 .q-inner .o-btn-action,
.ff_conv_app_6 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_6 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/****Kuaför ve Güzellik ***/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_8 .q-inner .o-btn-action,
.ff_conv_app_8 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_8 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/04/wepik-2022323-111634.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_8 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_8 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_8 .q-inner .o-btn-action,
.ff_conv_app_8 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_8 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/****Organizasyonlar ***/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_9 .q-inner .o-btn-action,
.ff_conv_app_9 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_9 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/04/wepik-2022322-114415.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_9 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_9 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_9 .q-inner .o-btn-action,
.ff_conv_app_9 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_9 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Catering ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_10 .q-inner .o-btn-action,
.ff_conv_app_10 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_10 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/closed-metal-pots-1.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_10 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_10 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_10 .q-inner .o-btn-action,
.ff_conv_app_10 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_10 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Müzik ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_11 .q-inner .o-btn-action,
.ff_conv_app_11 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_11 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/06/closeup-dj-working-blue-light-1.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_11 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_11 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_11 .q-inner .o-btn-action,
.ff_conv_app_11 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_11 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Gelin Arabası ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_12 .q-inner .o-btn-action,
.ff_conv_app_12 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_12 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/06/vintage-car-with-wedding-bouquet.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_12 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_12 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_12 .q-inner .o-btn-action,
.ff_conv_app_12 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_12 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Çiçekçi ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_13 .q-inner .o-btn-action,
.ff_conv_app_13 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_13 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/04/wepik-2022322-153816.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_13 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_13 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_13 .q-inner .o-btn-action,
.ff_conv_app_13 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_13 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Pasta ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_14 .q-inner .o-btn-action,
.ff_conv_app_14 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_14 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/wepik-2022322-114415.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_14 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_14 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_14 .q-inner .o-btn-action,
.ff_conv_app_13 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_14 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Davetiye ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_15 .q-inner .o-btn-action,
.ff_conv_app_15 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_15 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/06/groom-invitation-envelope-wedding-concept.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_15 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_15 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_15 .q-inner .o-btn-action,
.ff_conv_app_15 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_15 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Nikah Şekeri ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_16 .q-inner .o-btn-action,
.ff_conv_app_16 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_16 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/06/delicious-sweets-candy-catering.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_16 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_16 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_16 .q-inner .o-btn-action,
.ff_conv_app_16 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_16 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Alyans ve Takı ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_17 .q-inner .o-btn-action,
.ff_conv_app_17 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_17 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/wepik-2022410-15412.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_17 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_17 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_17 .q-inner .o-btn-action,
.ff_conv_app_17 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_17 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Mobilya ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_18 .q-inner .o-btn-action,
.ff_conv_app_18 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_18 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_18 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_18 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_18 .q-inner .o-btn-action,
.ff_conv_app_18 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_18 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Perde ****/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_19 .q-inner .o-btn-action,
.ff_conv_app_19 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_19 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/curtain-with-sunlight.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_19 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_19 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_19 .q-inner .o-btn-action,
.ff_conv_app_19 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_19 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Dans ve Halk Oyunları **/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_20 .q-inner .o-btn-action,
.ff_conv_app_20 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_20 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/06/beautiful-shot-wedding-couple-dances-park.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_20 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_20 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_20 .q-inner .o-btn-action,
.ff_conv_app_20 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_20 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Beyaz Eşya **/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_21 .q-inner .o-btn-action,
.ff_conv_app_21 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_21 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/washing-machine-minimal-laundry-room-interior-design-scaled.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_21 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_21 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_21 .q-inner .o-btn-action,
.ff_conv_app_21 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_21 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Vip Araç Kiralama **/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_22 .q-inner .o-btn-action,
.ff_conv_app_22 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_22 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/handsome-business-man-by-white-car.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_22 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_22 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_22 .q-inner .o-btn-action,
.ff_conv_app_22 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_22 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}

/**** Ayakkabı **/

.footer-inner-wrap .f-nav {
    display: none;

}

.ff_conv_app_23 .q-inner .o-btn-action,
.ff_conv_app_23 .footer-inner-wrap .f-nav {
    background-color: #de413a;
}

.ff_conv_app_23 {
    background-color: #ffffffb8 !important;
    background-image: url(http://dugunsepetin.com/wp-content/uploads/2022/05/stylish-girl-sitting-floor-dressing-room-with-smartphone-hands-writes-message-surrounded-by-variety-shoes-she-is-dressed-black-skirt-her-feet-silver-luxury-shoes-e1654247944524.jpg) !important;
    background-blend-mode: overlay !important;
    height: 100vh !important;

}

.ff_conv_app_23 .ffc-counter-div span {
    color: #de413a;
}

.ff_conv_app_23 .f-answer .f-radios-wrap ul li {
    background-color: #de413a02 !important;
    border: 1px solid #de413a;
}

.ffc_conv_wrapper .ffc_inline_form {
    height: 100vh;
}

.ffc_power {
    display: none;
}

.ff_conv_app_23 .q-inner .o-btn-action,
.ff_conv_app_23 .footer-inner-wrap .f-nav {
    background-color: #de413a !important;
}


.ff_conv_app_frame .vff.vff_layout_default .f-container {
    max-width: 900px;
    text-align: center;
}

.vff a {
    background-color: #de413a !important;
    color: #FFFFFF;
    font-size: 600;
    font-weight: "bold";
}

.ff_conv_app_23 .f-enter .f-enter-desc {
    display: none !important;
}

.ff_conv_app_frame .vff.vff_layout_default .f-container {

    max-width: 900px !important;

}